{% extends 'base.html' %}

{% block content %}
<div class="dashboard">
    <div class="introduction">
        <img src="{{ profile_picture }}" alt="profile_picture" class="profile-pic">
        <div class="names">
            <h1>{{user.username}}</h1>
            <h3>{{user.first_name}} {{user.last_name}}</h3>
            <p>{{user.email}}</p>
            <button class="btn" onclick="toggleForm()"><i class="uil uil-pen"></i> Edit profile picture.</button>
        </div>
    </div>

    <div class="d-none edit-profile" id="edit-profile-picture">
        <form action="" class="edit-profile-picture" method="POST" enctype="multipart/form-data">
            {{profile_picture_form.hidden_tag()}}
            <div class="form-group">
                {{profile_picture_form.new_picture.label(class="form-control-label")}}
                <br>
                {% if profile_picture_form.new_picture.errors %}
                    {% for error in profile_picture_form.new_picture.errors %}
                        <span class="text-muted text-danger">{{error}}</span>
                    {% endfor %}
                {% endif %}

                {{profile_picture_form.new_picture(class='form-control form-control-sm')}}
            </div>
            <div class="form-group mt-4">
                {{ profile_picture_form.submit(class="btn") }}
            </div>
        </form>
    </div>
    <div class="upload-art">
        <form action="" class="edit-profile-picture" method="POST" enctype="multipart/form-data">
            {{artwork_form.hidden_tag()}}
            <div class="form-group">
                {{artwork_form.art_work.label(class="form-control-label")}}
                <br>
                {% if artwork_form.art_work.errors %}
                    {% for error in artwork_form.art_work.errors %}
                        <span class="text-muted text-danger">{{error}}</span>
                    {% endfor %}
                {% endif %}

                {{artwork_form.art_work(class='form-control form-control-sm')}}
            </div>
            <div class="form-group">
                {{artwork_form.name.label(class="form-control-label")}}
                <br>
                {% if artwork_form.name.errors %}
                    {% for error in artwork_form.name.errors %}
                        <span class="text-muted text-danger">{{error}}</span>
                    {% endfor %}
                {% endif %}

                {{artwork_form.name(class='form-control form-control-sm')}}
            </div>
            <div class="form-group">
                {{artwork_form.description.label(class="form-control-label")}}
                <br>
                {% if artwork_form.description.errors %}
                    {% for error in artwork_form.description.errors %}
                        <span class="text-muted text-danger">{{error}}</span>
                    {% endfor %}
                {% endif %}

                {{artwork_form.description(class='form-control form-control-sm')}}
            </div>
            
            <div class="form-group mt-4">
                {{ artwork_form.submit(class="btn") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}