{% extends 'base.html' %}




{% block content %}
    <section class="overview">

        <div class="social">
            <ul>
                <li><a href="#"><i class="uil uil-facebook-f"></i></a></li>
                <li><a href="#"><i class="uil uil-twitter"></i></a></li>
                <li><a href="#"><i class="uil uil-instagram"></i></a></li>
            </ul>
        </div>
        <div class="introduction">
            <img src="{{ profile_picture }}" alt="profile-pic" class="profile-pic">
            <div class="names">
                <h1>James</h1>
                <h3>Kagima</h3>
                <p>Professional Artist</p>   
            </div>
        </div>
        <div class="view-art">
            <div>
                <p>View some art</p>
                <a href="#" class="btn"><i class="uil uil-angle-down"></i></a>
            </div>
        </div>
    </section>
        <section class="gallery">
    {% for user in users %}
    <p>{{user.username}}</p>
    {% endfor %}

    </section>
{% endblock %}