{% extends 'base.html' %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!--For csrf token -->
        <fieldset class="'form-group">
            <legend class="border-bottom mb-4">Sign In</legend>

            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}

                <br/>
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                    <span class="text-muted text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}

                {{ form.username(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}

                <br/>
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                    <span class="text-muted text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}

                {{ form.password(class="form-control form-control-lg") }}
            </div>

        </fieldset>
        <div class="form-group mt-4">
            {{ form.submit(class="btn") }}
        </div>
        
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Need an account? <a class="ml-2" href="{{ url_for('main.register_user') }}">Sign Up Now</a>
    </small>
</div>
{% endblock %}